<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker | freeCodeCamp</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h1>Exercise tracker</h1>
      <p>
        It is a full stack app that helps you keep track of your progress and
        helps you stay fit. This site is a backend of this app. You can check
        the documentation of this API <a href="/docs">here</a>.
      </p>
      <p>Here are some useful links:</p>
      <ul>
        <li>
          <a href="https://exercise-tracker-kt.netlify.app" target="_blank"
            >Frontend (The main app)</a
          >
        </li>
        <li>
          <a
            href="https://github.com/kTrzcinskii/exercise-tracker"
            target="_blank"
            >Github Repository</a
          >
        </li>
      </ul>
      <h3>
        Created by
        <a href="https://github.com/kTrzcinskii" target="_blank"
          >Kacper Trzciński</a
        >
      </h3>
    </div>
  </body>
</html>
